@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
}

.container {
    background: url(oguz.jpg);
    height: 100vh;
    background-size: 100% 100%;
}

.container .navbar {
    width: 100%;
    height: 80px;
    background: rgba(22, 112, 214, 0.4);
}

.navbar .logo {
    display: inline-block;
    margin-left: 100px;
    margin-top: 100px;
}

.navbar .logo a {
    text-decoration: none;
    font-size: 50px;
    font-family: sans-serif;
    color: white;
}

.navbar ul {
    float: right;
    margin-right: 50px;
    color: #f3f3f3;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 8px;
    line-height: 80px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 30px;
    padding: 6px 13px;
    font-family: Roboto;
}

.navbar ul li a.active,
.navbar ul li a:hover {
    background: #ff6e00;
    border-radius: 2px;
}

.container .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: sans-serif;
    user-select: none;
}


.center h1 {
    color: white;
    font-size: 60px;
    font-weight: bold;
    width: 900px;
    text-align: center;
}

.center h2 {
    color: #f3f3f3;
    font-size: 50px;
    font-weight: bold;
    width: 900px;
    margin-top: 1px;
    text-align: center;
}
.center h3{
    color: white;
    font-size: 30px;
    font-weight: bold;
    width: 900px;
    margin-top: 1px;
    text-align: center;
}

.center .buttons {
    margin: 35px 280px;
}

.buttons button {
    height: 50px;
    width: 150px;
    font-size: 18px;
    font-weight: bold;
    color: red;
    background: rgba(207, 96, 88);
    border: solid 1px red;
    cursor: pointer;
    outline: none;
    border-radius: 250px;
    transition: 1s;
}

.buttons button:hover {
    background: #f3f3f3;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

.flex .flex-element {
    width: 200px;
    height: 200px;
    margin: 20px;
    border: 1px solid white;
    background-color: gray;
    background-clip: border-box;
    position: relative;
    z-index: 10
}

.flex img {
    width: 100%;
    height: 100%;
    transition: 0.7s ease-out;
    z-index: 0
}

.flex img:hover {
    transform: scale(1.2);
}